


.img-cont {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 6rem;

  .tit-box {
    flex-basis: calc((100% - 6rem) / 2);
    width: calc((100% - 6rem) / 2);
    @include flex-col();
    justify-content: space-between;
    .txt-wrap {
      @include flex-col(6rem);
      line-height: 1.2;
    }
    .img-wrap {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -1;
      }
      .img-tag {
        position: absolute;
        right: 4rem;
        bottom: 2rem;
        background-color: $black_02;
        padding: 1rem 2.5rem;
        @include bdrs(2rem);
        .tit-l {
          color: $white;
        }
      }
    }
  }

  .img-box {
    flex-basis: calc(50% - 6rem);
    width: calc(50% - 6rem);
    height: 0;
    padding-bottom: calc(50% - 2rem);
    overflow: hidden;
    @include bdrs(2.8rem);
    position: relative;
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    &.ty02 {
      padding-bottom: 37%;
    }
  }
}

.auto-contents {
  .img-cont {
    .img-box {
      img {
        left: -52%;
        top: -35%;
      }
    }
  }
}

.auto-vehi-cont {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
  align-items: center;
  .tit-box {
    @include flex-col(6rem);
    .txt-wrap {
      @include flex-col(6rem);
      .tit-head {
        line-height: 1.2;
      }
      .tit-art {
        line-height: 1.4;
      }
    }
    .count-wrap {
      .count-list {
        display: flex;
        gap: 2rem;
        .list-item {
          flex-basis: 25%;

          &:first-child {
            .count-item {
              .tit-r {
                font-weight: $md;
              }
              .num {
                color: $white;
                background-color: $blue_l;
                border: 1px solid $blue_l;
              }
            }
          }
        }
      }
      .count-item {
        @include flex-col(1.2rem);
        justify-content: center;
        align-items: center;

        .num {
          width: 100%;
          font-size: $font-60r;
          font-family: $point_font;
          text-align: center;
          padding: 2rem 0;
          @include bdrs(1rem);
          border: 1px dashed $gray_02;
          box-sizing: border-box;
          transition: 0.3s;
        }
      }
    }
  }
}

.prod-cont {
  @include flex-col(5rem);
  .prod-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.7rem;
    column-gap: 1.2rem;
    .list-item {
      flex-basis: calc((100% - 2.4rem) / 3);
    }
  }
  .dtl-item {
    .img-box {
      padding-bottom: 32rem;
      @include bd(1px, $gray_01);
      img {
        width: auto;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
      }
    }
  }
}