#footer {
  width: 100%;
  height: fit-content;
  background-color: $light_gray;

  .footer-wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 3.7rem 3.2rem 3.2rem;
    box-sizing: border-box;
    @include flex-col(4.6rem);
  }

  .sec-addr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray_04;
    padding-bottom: 3rem;

    .art-addr {
      @include flex-col(1rem);

      address {
        font-style: normal;
        @include flex-col(0.7rem);

        span {
          display: block;
        }
      }
    }
  }

  .sec-map {
    .gnb-wrap {

      .nav-list {
        @include flex-col();
        flex-wrap: wrap;
        height: 31rem;

        .list-item {
          flex-basis: 33.33%;
          width: 33.33%;
          @include flex-col(2rem);

          &:nth-child(3),
          &:nth-child(4) {
            flex-basis: 16.67%;
            width: 16.67%;
          }

          .tit-l {
            font-weight: $b;
          }
        }
      }
    }

    .d2-list-wrap {
      .d2-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.8rem;

        .d2-list-item {
          flex-basis: 50%;

        }
      }
    }

    .d2-item {
      @include flex-col(1.2rem);

      .tit-box {
        @include flex-col(1rem);

        .txt-s {
          font-weight: $b;
        }

        .txt-r {
          width: fit-content;

          &::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: width 0.3s;
            margin: 0 auto;
          }
        }

        &:hover {
          .txt-r {
            &::after {
              width: 100%;
            }
          }
        }
      }

      .d3-list {
        @include flex-col(0.6rem);

        .d3-list-item {
          a {
            display: block;
            width: fit-content;
            color: #707070;

            &::after {
              content: '';
              display: block;
              width: 0;
              height: 1px;
              background-color: #707070;
              transition: width 0.3s;
              margin: 0 auto;
            }
          }

          &:hover {
            a {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }

    // v1 리스트 특이사항
    .d2-list-wrap.v1 {
      .d2-list {
        row-gap: 3rem;
      }

      .d2-item {
        .tit-box {
          justify-content: flex-end;
          height: 3.2rem;
        }
      }

      .d2-item {
        .tit-box {
          .txt-r {
            &::after {
              display: none;
            }
          }
        }
      }
    }

    // v2 리스트 특이사항
    .d2-list-wrap.v2 {
      .d2-list {
        align-items: flex-end;

        .d2-list-item {
          &:nth-child(5) {
            margin-top: 3rem;
          }
        }
      }
    }

    // v3, 4 리스트 특이사항
    .d2-list-wrap.v3,
    .d2-list-wrap.v4 {
      .d2-list {
        flex-direction: column;
        flex-wrap: nowrap;

        .d2-list-item {

        }
      }
    }

  }

  .sec-copy {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray_04;
    padding-top: 2rem;

    .ico-list {
      display: flex;
      gap: 1rem;
    }
  }

  .ico-arrow-top {
    position: fixed;
    bottom: 15%;
    right: 3%;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(5rem);

    button {
      width: 100%;
      height: 100%;
      outline: none
    }

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

