
/* main-header css */
.main-header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 6rem;
    background-color: #02468c;
    z-index: -1;
  }
  /* header  활성화 */
  &.active {
    .gnb-sub-wrap {
      bottom: 0;
    }
  }

  /* main header  gnb CSS */
  .gnb-wrap {
    height: 6rem;
    width: $gnb-max;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2rem;
    box-sizing: border-box;
    .nav-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .list-item {
        position: relative;

        a,
        button,
        .nav-item {
          color: $white;
          letter-spacing: 0.25rem;
          position: relative;
          z-index: $nav-z-index;
        }
        .ico-box {
          a,
          button,
          .nav-item {
            width: 10rem;
            height: 3.3rem;
            background-image: url("../images/ico_mouse_001.png");
            background-size: 2.2rem 3.3rem;
            background-position: center;
            background-repeat: no-repeat;
          }
          &::after {
            content: '';
            position: absolute;
            bottom: -2rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 17rem 17rem 0 0;
            display: block;
            width: 17rem;
            height: 8rem;
            background-color: #0054a6;
            box-shadow: 10px 10px 16px 0 rgba(0,0,0,0.1);
          }
        }
      }
    }
  }
  /* main header  gnb CSS */

  /* main header sub gnb CSS */
  .gnb-sub-wrap {
    position: absolute;
    bottom: -500px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: $pc-min;
    margin: 0 auto;
    padding: 3.5rem 0 3rem;
    box-sizing: border-box;
    @include flex-col(3rem);
    justify-content: space-between;
    z-index: $nav-z-index + 1;
    transition: bottom 0.3s ease-in;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 100vw;
      height: 100%;
      background-color: #2b8add;
      opacity: 0.85;
    }
    .gnb-header {
      z-index: $nav-z-index + 2;
      color: $white;
    }
    .d2-list-wrap {
      z-index: $nav-z-index + 2;
      .d2-list {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        .d2-list-item {
          flex-basis: 20%;
          @include bd(3px, $white);
          @include bdrs(1.4rem);
          transition: all 0.3s;
          &.d1-menu {
            @include flex-col();
            justify-content: center;
            border: none;
            background-color: $blue_sub;
            .d2-item {
              gap: 3rem;
              padding: 3rem 3.5rem;
              justify-content: space-between;
              align-items: flex-end;
              .lb-tit-r {
                padding: 1rem 2rem;
                @include bdrs(1.5rem);
                &:hover {
                  background-color: $light_blue;
                }
              }
            }
          }

          &:hover {
            background-color: $white;
            .d2-item {
              h3,
              .lb-tit-r {
                color: $blue_lr;
              }
              .d3-list {
                .d3-list-item {
                  color: inherit;
                }
              }
            }
          }
        }
      }
      .d2-item {
        @include flex-col(2.5rem);
        padding: 2.5rem 1.5rem;
        h3,
        .lb-tit-r {
          padding: 0 1rem;
          color: $white;
        }
        .d3-list {
          @include flex-col();
          .d3-list-item {
            padding: 1rem 0 1rem 1rem;
            @include bdrs(1rem);
            color: $white;
            transition: all 0.3s;
            &:hover {
              background-color: $light_blue;
              a,
              button {
                //font-family: $point-font;
                color: $blue_lr;
              }
            }
          }
        }
      }
    }
  }
  /* main header sub gnb CSS */
}
/* // main-header css */

/* sub header CSS */
.sub-header {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #d7d7d7;
  .gnb-wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 1.3rem 0;
    .nav-list {
      width: 100%;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      .list-item {
        flex-basis: 18.2rem;
        .tit-h1 {
          padding: 1.7rem 3.2rem;
          text-align: center;
          font-weight: $b;
          @include bdrs(1.4rem);
          &:hover {
            background-color: $blue_l;
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
  .d2-list-wrap {
    position: absolute;
    top: 7.7rem;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 3px solid $blue_l;
    .d2-list {
      width: 1280px;
      height: 310px;
      margin: 0 auto;
      padding: 1.3rem 1.4rem;
      box-sizing: border-box;
      display: flex;
      gap: 9.4rem;

    }
    .d2-item {
      width: 22rem;
      @include flex-col(0.5rem);
      .tit-box {
        @include flex-col(0.5rem);
        justify-content: flex-end;
        padding: 1.2rem 1.8rem;
        border-radius: 1rem;
        height : 5.2rem;
        box-sizing: border-box;
      }
    }
    .d3-list {
      width: 100%;
      @include flex-col();
      .d3-list-item {
        a {
          display: block;
          padding: 1.2rem 1.8rem;
          border-radius: 1rem;
          &:hover {
            color : $blue_l;
            font-weight: $b;
            background-color: $light_blue;
          }
        }
      }
    }
  }
  .d2-list-wrap.v2 {
    display: none;
  }
}

/* // sub header CSS */