#wrapper {
  width: 100%;
}

#header {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  //min-width: 1280px;
}

.container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  //min-width: 1280px;
}

#footer {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  //min-width: 1280px;
  //임시
  padding-bottom: 6rem;
}